<!DOCTYPE html>
{% assign id = page.fileSlug %}
{% if id == '' %}
    {% assign id = 'index' %}
{% endif %}
{% assign metatitle = 'Endings Course' %}
{% if title %}
    {% assign metatitle = metatitle | prepend: " • " | prepend: title %}
{% endif %}
{% assign metadesc = 'Endings Course' %}
{% if desc %}
    {% assign metadesc = desc %}
{% endif %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" id="{{ id }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{- metatitle -}}</title>
    <meta name="description" content="{{- metadesc -}}"/>
    <meta property="og:title" content="{{-metatitle-}}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{- metadesc -}}"/>
    <link rel="preload" crossorigin="anonymous"
        href="{{ '/assets/inter/Inter-Regular.woff2?v=3.19' | url }}" as="font"/>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | url  }}"/>
    <script src="{{ '/assets/js/app.js' | url }}"></script>
</head>
<body>
    <header class="page-header">
        <nav>
            <a href="/">Home</a>
            <a href="{{ '/2023-05-10/' | url }}">Wednesday</a>
            <a href="{{ '/2023-05-11/' | url }}">Thursday</a>
            <a href="{{ '/2023-05-12/' | url }}">Friday</a>
            <a href="{{ '/resources/' | url }}">Resources</a>
        </nav>
    </header>
    <main>
        <article>
            {{content}}  
        </article>
    </main>
    <footer>
        <a class="has-image" href="https://endings.uvic.ca">
            <img src="{{ '/assets/endings-logo.svg' | url }}" alt="Endings logo"></img>
        </a>
    </footer>
</body>
</html>